:root{
    --clr_back_header: #000;
    --clr_header: #42b500;
    --clr_back_nav: #545454;
    --clr_back_footer: var(--clr_back_nav);

}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
header{
    background:var(--clr_back_header);
    color: var(--clr_header);
    padding: 1rem;
    height: 4rem;
}
nav{
    background: var(--clr_back_nav);
    display: flex;
    gap:.3rem;
    padding: .3rem 1rem;
    & .fill{
        flex-grow:5;
    }
    
}
main{
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer{
    background: var(--clr_back_footer);
    display:grid;
    place-content:center;
    padding: 1rem;
}
dialog{
    width: 100%;
    height: 100%;
    background: #0005;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

dialog form{
    padding: 2rem;
    background: white;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;


}
summary{
    width: 100%;
    display: flex;
    background: #0006;
    padding: .5rem;
}
.id{
    width: 40px;
    font-weight: bold;
}
.user{
    flex-grow: 1;
}
.level{
    font-weight: bold;
}

details{
    background: #0001;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.realname{
    font-size: 130%;
    font-weight: bold;
}
.mail a{
    font-size: 80%;
    text-decoration: none;
}
details .userdetails{
    display: flex;
    
}